<div class="category-container">
    <div class="row mb-4">
        <div class="col-12 col-md-8">
            <h3>Categorys</h3>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let category of categories;" class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{category.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{category?.subCategoryOf||''}}</h6>
                    <a [routerLink]="['/category/',category.id]" class="card-link">category Products</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body add-category" data-toggle="modal" data-target="#addCategory">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #categoryForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name</label>
                        <input [(ngModel)]="category.name" type="text" name="name" class="form-control"
                            id="category_name" placeholder="category Name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="categegory_subCategoryOf" [(ngModel)]="category.subCategoryOf"
                            name="subCategoryOf" >
                            <option value="">May Select to be a sub category</option>
                            <option *ngFor="let category of categories;" [value]="category.name">{{category.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button [disabled]="!categoryForm.form.valid" type="submit" class="btn btn-primary"
                        data-dismiss="modal" (click)="addCategory()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>